body {
    padding: 20px;
    background-color: #f2f2f2;
}

.search-form {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #c5cc09;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
       
}

input {
    border-radius: 4px;
}

.search-form input[type='text'] {
    width: 300px;
    padding: 5px;
    font-size: 16px;
}

.search-form button[type='submit'] {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 70px;
    gap: 20px;
}

.photo-card {
    width: 280px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.photo-card a {
    display: block;
    text-decoration: none;
}

.photo-card img {
    width: 100%;
    height: auto;
}

.photo-card .info {
    padding: 10px;
}

.photo-card .info-item {
    margin: 5px 0;
}

.button {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    background-color: #c5cc09;
    color: #1f23f8;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button.is-hidden {
    display: none;
}

.button:hover {
    background-color: #1c07ff;
    color: #c5cc09;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button > .spinner.is-hidden {
    display: none;
}